body{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 10%;
    background-color: #D2B4DE;
}

.message{
    font-size: 30px;
    font-weight: bold;
    color: green;
}

.heart{
    width:400px;
}

.yes, .no{
    border: none;
    font-family:'Courier New', Courier, monospace;
    width: 80px;
    height: 50px;
    border-radius: 5px;
    font-weight: bolder;
}

.yes{
    background-color: blue;
}

.no{
    background-color: brown;
}